<?xml version='1.0' encoding='utf-8'?>
<widget id="haxejs.angular.seed" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>haxejs-angular-seed</name>
    <description>
        haxejs angular seed project
    </description>
    <author email="kmshi_array@yahoo.com" href="http://www.haxejs.com">
      richard
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
