<!doctype html>
<html>
<head>
	<title>Angular app written by Haxe</title>
	<style type="text/css">
		#scrollArea {
         height: 350px;
         overflow: auto;
       }

       #bottom {
         display: block;
         margin-top: 2000px;
       }
	</style>
</head>
<body ng-app="test">
<div ng-controller="homeCtrl">
	My name is {{homeCtrl.name}}
</div>
<div ng-controller="clockCtrl">
  Hi {{clockCtrl.clock}}
  <p><a ng-click="clockCtrl.stopClock()">stop clock</a></p>
</div>
<div id="scrollArea" ng-controller="scrollCtrl">
    <a ng-click="scrollCtrl.gotoBottom()">Go to bottom</a>
    <a id="bottom">You're at the bottom!</a>
</div>
	
<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!--
<script type="text/javascript" src="js/app.embed.js"></script>
-->
</body>
</html>